@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'),
       url('./fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
}

/* Apply to everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
  font-size: 15px;
}
